<div class="card my-5">
  <router-outlet></router-outlet>
  <div class="card-body">
    <table class="table table-bordered table-striped">
      <thead class="thead-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Email</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let weddingLocation of weddingLocations">
        <td>{{ weddingLocation.capacity }}</td>
        <td>{{ weddingLocation.name }}</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
